<div class="footer__wrapper" id="footer" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000" data-aos-offset="0">
  <footer class="footer">
    <div class="footer__top">
      <div class="footer__logo-wrapper">
          <img src="images/logo.svg" class="footer__logo" alt="logo">
          <div class="footer__logo-desc-wrapper">
            <p class="footer__logo-desc">My Mobile App is a product of</p>
            <img src="images/appswiz-logo.svg" class="footer__logo-desc-img" alt="logo">
          </div>
      </div>
      <ul class="footer__nav">
          <li class="footer__nav-item" ><a href="about.html" class="footer__nav-link link">About</a></li>
          <li class="footer__nav-item" ><a href="#pricing" class="footer__nav-link link">Pricing</a></li>
          <li class="footer__nav-item" ><a href="faq.html" class="footer__nav-link link">FAQ</a></li>
          <li class="footer__nav-item" ><a href="#contact-form" class="footer__nav-link link">Contact</a></li>
      </ul>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">© 2019 All Rights Reserved Terms <br /> of Use and Privacy Policy</p>
      <ul class="footer__social-list">
        <li class="footer__social-item" ><a href="#" class="footer__social-link link"><img src="images/facebook-logo.svg" class="footer__social-link-img" alt="facebook"></a></li>
        <li class="footer__social-item" ><a href="#" class="footer__social-link link"><img src="images/vimeo-logo.svg" class="footer__social-link-img" alt="vimeo"></a></li>
        <li class="footer__social-item" ><a href="#" class="footer__social-link link"><img src="images/instagram-logo.svg" class="footer__social-link-img" alt="instagram"></a></li>
        <li class="footer__social-item" ><a href="#" class="footer__social-link link"><img src="images/twitter-logo.svg" class="footer__social-link-img" alt="twitter"></a></li>
        <li class="footer__social-item" ><a href="#" class="footer__social-link link"><img src="images/linked-In-logo.svg" class="footer__social-link-img" alt="linked In"></a></li>
      </ul>
    </div>
  </footer>
</div>

