$block : ".about-main";

#{$block}{
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0 120px 0;
  @media (max-width: $lg-width) {
    max-width: 940px;
    padding: 80px 0 100px 0;
  }
  @media (max-width: $md-width) {
    max-width: 688px;
    padding: 60px 0 100px 0;
  }
  @media (max-width: $sm-width) {
    max-width: 288px;
    padding: 40px 0 60px 0;
  }
  &__title{
    font-weight: 800;
    font-size: 64px;
    line-height: 90px;
    color: #1B2D41;
    margin-bottom: 32px;
    text-align: center;
    @media (max-width: $md-width) {
      font-size: 58px;
      line-height: 87px;
      & br{
        display: none;
      }
    }
    @media (max-width: $sm-width) {
      font-size: 32px;
      line-height: 44px;
    }
  }
  &__subTitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #8D9AAD;
    margin-bottom: 80px;
    text-align: center;
    & br{
      display: none;
    }
    @media (max-width: $md-width) {
      margin-bottom: 60px;
    }
    @media (max-width: $sm-width) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px;
      & br{
        display: block;
      }
    }
  }
  &__gallery{
    display: flex;
    &:not(:last-child){
      #{$block}#{__gallery-item}{
        margin-bottom: 5px;
      }
    }
    &-wrapper{
      margin-bottom: 140px;
      @media (max-width: $lg-width) {
        margin-bottom: 120px;
      }
      @media (max-width: $md-width) {
        margin-bottom: 100px;
      }
      @media (max-width: $sm-width) {
        margin-bottom: 60px;
      }
    }
    &-item{
      &:not(:nth-child(3n+3)){
        margin-right: 5px;
      }
      &-link{
        outline: 0;
        overflow: hidden;
        position: relative;
        display: block;
        img{
          [class*="-1"]:not([class*="-10"]):not([class*="-11"]):not([class*="-12"]) &,
          [class*="-2"] &,
          [class*="-3"] & {
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }
  &__desc{
    text-align: center;
    font-size: 40px;
    line-height: 140%;
    color: #1B2D41;
    font-weight: 700;
    @media (max-width: $lg-width) {
      font-size: 32px;
    }
    @media (max-width: $md-width) {
      font-size: 24px;
      line-height: 36px;
    }
    @media (max-width: $sm-width) {
      font-size: 18px;
      line-height: 27px;
    }
    &--blue{
      color:#40C2FF;
    }
    & br{
      @media (max-width: $sm-width) {
        display: none;
      }
    }
  }
}