$block : ".who-we-are";

#{$block}{
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 90px;
  @media (max-width: $lg-width) {
    max-width: 940px;
    padding-bottom: 20px;
  }
  @media (max-width: $md-width) {
    max-width: 688px;
    padding-bottom: 16px;
  }
  @media (max-width: $sm-width) {
    max-width: 288px;
    padding-bottom: 24px;
  }
  &__title{
    font-weight: 800;
    font-size: 64px;
    line-height: 90px;
    color: #1B2D41;
    margin-bottom: 32px;
    text-align: center;
    @media (max-width: $lg-width) {
      font-size: 48px;
      line-height: 72px;
    }
    @media (max-width: $md-width) {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 16px;
    }
  }
  &__subTitle{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #8D9AAD;
    margin-bottom: 60px;
    @media (max-width: $lg-width) {
      font-size: 20px;
      line-height: 30px;
    }
    @media (max-width: $md-width) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 40px;
    }
    @media (max-width: $sm-width) {
      max-width: 288px;
      margin-bottom: 24px;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 440px;
    margin-bottom: 30px;
    transition: all 0.2s ease;
    &:hover{
      transition: all 0.2s ease;
      box-shadow: 0px 24px 40px rgba(50, 50, 50, 0.1);
    }
    @media (max-width: $lg-width) {
      width: 300px;
      height: 391px;
      margin-bottom: 20px;
    }
    @media (max-width: $md-width) {
      width: 220px;
      height: 280px;
      margin-bottom: 14px;
    }
    @media (max-width: $sm-width) {
      width: 300px;
      height: 391px;
      margin-bottom: 0;
    }
    &:not(:nth-child(3n+3)){
      margin-right: 30px;
      @media (max-width: $lg-width) {
        margin-right: 20px;
      }
      @media (max-width: $md-width) {
        margin-right: 14px;
      }
      @media (max-width: $sm-width) {
        margin-right: 0;
      }
    }
    // &:not(:last-child){

    // }
    &-img{
      width: 180px;
      height: 180px;
      border-radius: 100%;
      margin-bottom: 32px;
      @media (max-width: $md-width) {
        width: 120px;
        height: 120px;
        margin-bottom: 16px;
      }
      @media (max-width: $sm-width) {
        width: 180px;
        height: 180px;
        margin-bottom: 32px;
      }
    }
    &-name{
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #1B2D41;
      margin-bottom: 8px;
    }
    &-position{
      font-size: 16px;
      line-height: 24px;
      color: #8D9AAD;
    }
  }
}