<section class="about-thought__wrapper" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">
  <div class="about-thought">
    <p class="about-thought__label">WE THOUGHT:</p>
    <p class="about-thought__title">Why reinvent the wheel <br /> if instead we can make <br /> that wheel work better<br /> for you?</p>
    <p class="about-thought__desc">You've already spent the time and <br /> effort putting together a great mobile <br /> site - now take it to the next level with <br /> My Mobile App!</p>
  </div>
</section>