<section class="about-main__wrapper">
  <div class="about-main">
    <h3 class="about-main__title">All that we do is about <br /> our customers</h3>
    <h2 class="about-main__subTitle">Except this page. This is  <br /> all about us.</h2>
    <div class="about-main__gallery-wrapper">
      <div class="about-main__gallery">
        <div class="about-main__gallery-item">
          <a class="about-main__gallery-item-link" href="images/about-image-1.svg">
            <img src="images/about-image-1.svg" alt="" />
          </a>
        </div>

        <div class="about-main__gallery-item">
          <a class="about-main__gallery-item-link" href="images/about-image-2.svg">
            <img src="images/about-image-2.svg" alt="" />
          </a>
        </div>

        <div class="about-main__gallery-item">
          <a class="about-main__gallery-item-link" href="images/about-image-3.svg">
            <img src="images/about-image-3.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="about-main__gallery">
          <div class="about-main__gallery-item">
            <a class="about-main__gallery-item-link" href="images/about-image-4.svg">
              <img src="images/about-image-4.svg" alt="" />
            </a>
          </div>

          <div class="about-main__gallery-item">
            <a class="about-main__gallery-item-link" href="images/about-image-5.svg">
              <img src="images/about-image-5.svg" alt="" />
            </a>
          </div>

          <div class="about-main__gallery-item">
            <a class="about-main__gallery-item-link" href="images/about-image-6.svg">
              <img src="images/about-image-6.svg" alt="" />
            </a>
          </div>
      </div>
    </div>
    <p class="about-main__desc">
      <span class="about-main__desc--blue">Simplicity</span>. It's our guiding light and the <br /> fundamental value we turn to when shaping  <br /> that we do. We believe that the best solutions <br /> are often the simplest - and we've made it our <br /> mission <span class="about-main__desc--blue">to provide simple ways for you <br /> to better engage your followers.</span>
    </p>
  </div>
</section>