<section class="about-counter__wrapper">
  <div class="about-counter">
      <ul class="about-counter__list">
          <li class="about-counter__item" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">
            <img src="images/counter-designers-icon.svg" class="about-counter__item-img" alt="" />
            <p class="about-counter__item-count">2</p>
            <p class="about-counter__item-title">Designers</p>
          </li>
          <li class="about-counter__item" data-aos="fade-up"  data-aos-delay="150"  data-aos-duration="1000">
                <img src="images/counter-coders-icon.svg" class="about-counter__item-img" alt="" />
                <p class="about-counter__item-count">4</p>
                <p class="about-counter__item-title">Coders</p>
          </li>
          <li class="about-counter__item" data-aos="fade-up"  data-aos-delay="200"  data-aos-duration="1000">
                <img src="images/counter-thousand-lines-of-code.svg" class="about-counter__item-img" alt="" />
                <p class="about-counter__item-count">982</p>
                <p class="about-counter__item-title">Thousand lines <br /> of code</p>
          </li>
          <li class="about-counter__item" data-aos="fade-up"  data-aos-delay="250"  data-aos-duration="1000">
                <img src="images/counter-zubats.svg" class="about-counter__item-img" alt="" />
                <p class="about-counter__item-count">743</p>
                <p class="about-counter__item-title">Zubats, Rattatas & Pidgeys caught!</p>
          </li>
      </ul>
  </div>
</section>