<section class="choose-us__wrapper">
  <div class="choose-us">
    <div class="choose-us__desc-wrapper">
      <p class="choose-us__title">Why <br /> choose us</p>
      <p class="choose-us__desc">Uses your website as the base <br /> for your mobile app. This allows <br />you to maintain consistency <br />across your digital platforms <br /> while providing a great user <br /> experience for your customers.</p>
    </div>
      <img class="choose-us__img" src="images/choose-us-image.png" srcset="images/choose-us-image@2x.png 2x, images/choose-us-image@3x.png 3x" alt="Choose Us">
  </div>
</section>