<section class="contact-form__wrapper" id="contact-form" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">
    <h1 class="contact-form__title">Contact Us</h1>
    <h4 class="contact-form__subTitle">Drop us a line and we'll get back <br /> to you real soon!</h4>
    <form action="" class="contact-form">
        <div class="contact-form__inner">
            <input type="text" name="name" value="" placeholder="Name" class="contact-form__input">
            <input type="text" name="email" value="" placeholder="Email" class="contact-form__input">
            <input type="text" name="message" value="" placeholder="Message" class="contact-form__input">
        </div>
        <input type="submit" value="Send" class="contact-form__btn">
    </form>
    <a href="#header" id="arrowToTop" class="contact-form__anchor-link"> <img src="images/anchor-arrow.svg" class="contact-form__anchor-icon" alt="Up"></a>
</section>