<section class="convert-sites__wrapper">
  <div class="convert-sites">
      <h4 class="convert-sites__title">We Convert Sites From:</h4>
      <ul class="convert-sites__list">
        <li class="convert-sites__item">
            <img src="images/sites-icon-wix.svg" class="convert-sites__item-img" alt="Wix">
        </li>
        <li class="convert-sites__item">
            <img src="images/sites-shopify-icon.svg" class="convert-sites__item-img" alt="Shopify">
        </li>
        <li class="convert-sites__item">
            <img src="images/sites-pro-icon.svg" class="convert-sites__item-img" alt="Pro">
        </li>
        <li class="convert-sites__item">
            <img src="images/sites-wordpress-icon.svg" class="convert-sites__item-img" alt="WordPress">
        </li>
        <li class="convert-sites__item">
            <img src="images/sites-squarespace-icon.svg" class="convert-sites__item-img" alt="Squarespace">
        </li>
        <li class="convert-sites__item">
            <img src="images/sites-google-icon.svg" class="convert-sites__item-img" alt="Google">
        </li>
      </ul>
      <p class="convert-sites__footer">and virtually anywhere else.</p>
 </div>
</section>