<section class="expand-presence__wrapper">
  <div class="expand-presence">
    <div class="expand-presence__video-wrapper" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">
      <div class="expand-presence__video expand-presence__video--inner">
          <iframe class="expand-presence__video" src="https://player.vimeo.com/video/175303247?title=0&amp;byline=0&amp;portrait=0" width="599" height="365" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" align="middle"></iframe>
      </div>
    </div>
    <div class="expand-presence__desc-wrapper">
      <h2 class="expand-presence__desc-title" data-aos="fade-up"  data-aos-delay="150"  data-aos-duration="1000">Expand <br />Your Digital Presence</h2>
      <p class="expand-presence__desc" data-aos="fade-up"  data-aos-delay="200"  data-aos-duration="1000">Your app is your tool for better communication with your followers, making it easier for them to keep up to date, shop, book appointments and more.</p>
    </div>
 </div>
</section>