<section class="faq-form__wrapper">
    <div class="faq-form__inner">
      <h3 class="faq-form__sectionTitle">faq</h3>
      <h2 class="faq-form__title">Some of your questions <br /> answered in one place</h2>
      <form action="" class="faq-form" data-aos="fade-up"  data-aos-delay="200"  data-aos-duration="1000" data-aos-offset="0">
          <img src="images/search-icon.svg" class="faq-form__searchIcon" alt="Search">
          <input type="text" value="" placeholder="Type your question" class="faq-form__input">
          <input type="submit" value="Search" class="faq-form__btn">
      </form>
  </div>
  </section>