<section class="faq__wrapper">
  <div class="faq">
    <div class="faq__sidebar-wrapper">
      <ul class="faq__sidebar">
        <li class="faq__sidebar-item"><a class="faq__sidebar-item-link" href="#goodToKnows">The good to knows</a></li>
        <li class="faq__sidebar-item"><a class="faq__sidebar-item-link" href="#appRelatedQuestions">App related questions</a></li>
        <li class="faq__sidebar-item"><a class="faq__sidebar-item-link" href="#troubleshootings">Troubleshootings</a></li>
        <li class="faq__sidebar-item"><a class="faq__sidebar-item-link" href="#housekeeping">Housekeeping</a></li>
      </ul>
    </div>

    <div class="faq__content">
      <section id="goodToKnows" class="faq__section">
         <p class="faq__section-title">The good to knows</p>
         <div class="faq__accordeon-list-wrapper">
            <div class="faq__accordeon-list">
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-1" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-1" class="faq__accordeon-item-label">
                        What's included with a FREE PLAN?
                      <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                    </label>
                    <p class="faq__accordeon-item-text">The Free plan gives you the opportunity to build a mobile app version of your website for free! We give you the tools to plan, design, and build your app with an interactive preview so you can see how your app will look while you build it. There is no charge until you decide to publish your app.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-2" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-2" class="faq__accordeon-item-label">
                        What content will my app have?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                    <p class="faq__accordeon-item-text">Exactly what is on your website - look at this app as an extension of your existing digital presence. My Mobile App will ‘appify your website’, adding call and location functionality, as well as push notification capabilities, but at the end of the day your app is your website evolved. If you want to change the content within the app, make the change on your mobile website and your app will sync automatically.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-3" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-3" class="faq__accordeon-item-label">
                          How long will it take for my app to be approved?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                      <p class="faq__accordeon-item-text">The approval process is completely at the discretion of the app stores, and generally takes about a week. Sometimes it will be much quicker, and other times it might take a couple of weeks instead. Unfortunately this is out of our control.<br /> If there are any concerns during the approval process we will be in touch with you right away in order to have them resolved quickly.<br /> Of course, we will let you know as soon as your app is live - so sit back and relax until then.<br /> In summary:<br /> Apple - usually 1-2 weeks<br />Android - usually within a week.</p>
                    </div>
                  </div>
                  <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-4" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-4" class="faq__accordeon-item-label">
                          Why is my website unable to be converted in My Mobile App?
                          <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                        </label>
                      <p class="faq__accordeon-item-text">Some websites are not appropriate to be converted in an app. Your website must be:<br /><br /> Standalone;<br /> Owned by you;<br /> Mobile Friendly;<br /> Adhere to the Google Play Store and Apple App Store policies & guidelines.</p>
                    </div>
                  </div>
            </div>
            <div class="faq__accordeon-list">
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-5" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-5" class="faq__accordeon-item-label">
                        My Mobile App ‘auto updates with the website’. What does this mean?
                      <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                    </label>
                    <p class="faq__accordeon-item-text">Your app content automatically updates whenever the website does. Whether it is one small price change, a new video added or an entire new section, whatever happens on your site is mirrored in your app. This happens automatically and should be almost instantaneous, although it may sometimes require the app to be shut down and re-opened for a complete app content update.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-6" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-6" class="faq__accordeon-item-label">
                        How long will it take for my app changes (e.g. change of icon) to be updated?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                    <p class="faq__accordeon-item-text">Every single update made to your app or to how your app is displayed in the app stores must again go through the approval process. This can take up to 2 weeks at times (but is generally much quicker!). <br />You won't be able to make other updates while your app is undergoing approval; however, you can update again once approved. It's best to make numerous changes at once for fastest effect.<br /> The current version of your app will stay operational until the new version is approved.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-7" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-7" class="faq__accordeon-item-label">
                          Will my app be guaranteed approval?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                      <p class="faq__accordeon-item-text">Unfortunately no application can be guaranteed for app store approval. We have successfully built and deployed over 60,000 apps for Google Play and iTunes app stores. Our support team are able to assist where possible, however approval is at the complete discretion of the app stores. Sometimes an app won’t be approved for technical or administrative reasons – we will assist in addressing any concerns and ensuring app approval.<br /> Please make sure you read the app store guidelines:<br /><br /> Google Play<br />        Apple App Store</p>
                    </div>
                  </div>
                  <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-8" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-8" class="faq__accordeon-item-label">
                          What do I do if I want to use the name of my cancelled app with My Mobile App to my new app?
                          <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                        </label>
                      <p class="faq__accordeon-item-text">We can switch the names of your cancelled app and the new app. Contact our support team for assistance.</p>
                    </div>
                  </div>
            </div>
         </div>

      </section>

      <section id="appRelatedQuestions" class="faq__section">
        <p class="faq__section-title">App related questions</p>
        <div class="faq__accordeon-list-wrapper">
            <div class="faq__accordeon-list">
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-9" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-9" class="faq__accordeon-item-label">
                        Can I change my icon?
                      <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                    </label>
                    <p class="faq__accordeon-item-text">You can change your icon easily in the App Builer locared in your Dashboard.
                        The ideal size for your icon is 1024 x 1024 pixels - but don't stress if you don't have this, we adjust your images to the required sizes. (The minimum accepted size is 250 x 250 px)</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-10" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-10" class="faq__accordeon-item-label">
                        Can I change the category for my app?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                    <p class="faq__accordeon-item-text"> You can change your category really easily: just send us an email letting us know which category you would like to be listed under.<br /> This will require your app to go through the approval process again. It may take up to 2 weeks for your app to appear in its new category.<br /> See the Google Play categories here: <a class="faq__accordeon-link link" href="#">https://play.google.com/store/apps</a> (click on the Category tab)<br /> You can see the Apple categories in the attached file. </p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-11" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-11" class="faq__accordeon-item-label">
                          Can my app incorporate with affiliate programs to track my sales? Eg. Post Affiliate Pro
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                      <p class="faq__accordeon-item-text">Due to security reasons and software limitations, we have to look into the program to see if it fits into our system’s architecture. <br /> Please be in touch with your request and specific affiliate program, and we'll have our development team see what they can do..</p>
                    </div>
                  </div>
                  <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-12" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-12" class="faq__accordeon-item-label">
                          How may I change app name, app icon, app screenshot or app description in Google Play?
                          <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                        </label>
                      <p class="faq__accordeon-item-text">You can upload the logos inside your Dashboard when building your app. For app name changes and description changes please Contact our support team.</p>
                    </div>
                  </div>
                  <div class="faq__accordeon-item">
                      <input type="radio" name="acc" id="acc-13" />
                      <div class="faq__accordeon-item-inner">
                        <label for="acc-13" class="faq__accordeon-item-label">
                            How to update the app with additional pages/contents?
                            <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                          </label>
                        <p class="faq__accordeon-item-text">It’s really easy to add features and make changes to your app. Head to the “Feature Editor” in your Dashboard. Click on the tutorial there for more assistance.</p>
                      </div>
                    </div>
            </div>
            <div class="faq__accordeon-list">
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-14" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-5" class="faq__accordeon-item-label">
                        What payment methods are accepted?
                      <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                    </label>
                    <p class="faq__accordeon-item-text">For My Mobile App direct customers accept PayPal. For Wix users, your subscription is added to your monthly Wix bill.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-15" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-15" class="faq__accordeon-item-label">
                        How to update payment methods in My Mobile App account?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                    <p class="faq__accordeon-item-text">Make sure you update the card linked to your PayPal and it will automatically update in MMA.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-16" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-16" class="faq__accordeon-item-label">
                          Having trouble logging in with default credentials?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                      <p class="faq__accordeon-item-text">For security reasons, we do not store your login passwords. The best way to get this done is to reset your password at <a class="faq__accordeon-link link" href="#">http://www.mymobileapp.online/forgotten</a></p>
                    </div>
                  </div>
                  <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-17" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-17" class="faq__accordeon-item-label">
                          What is a hybrid app?
                          <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                        </label>
                      <p class="faq__accordeon-item-text">When your app directs your users to a section of your website, we call that “hybrid” as your app is using the HTML code of your website. A Hybrid app is a form of web app that is deployed to a native platform (Android or iOS for example), inside the native shell.</p>
                    </div>
                  </div>
                  <div class="faq__accordeon-item">
                      <input type="radio" name="acc" id="acc-18" />
                      <div class="faq__accordeon-item-inner">
                        <label for="acc-18" class="faq__accordeon-item-label">
                            What is a native feature?
                            <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                          </label>
                        <p class="faq__accordeon-item-text">Native features are modules which work directly with the devices operating system, which general enable faster performance and increased flexibility. These features provide great user experience when compared to HTML5 web-based modules. We highly recommend taking advantage of the native features we have developed for your MMA app.</p>
                      </div>
                    </div>
            </div>
         </div>
      </section>

      <section id="troubleshootings" class="faq__section">
        <p class="faq__section-title">Troubleshootings</p>
        <div class="faq__accordeon-list-wrapper">
            <div class="faq__accordeon-list">
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-19" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-19" class="faq__accordeon-item-label">
                        I've updated my website but my app is still showing the old one?
                      <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                    </label>
                    <p class="faq__accordeon-item-text">Have you tried quitting the app and then opening it up again? <br /> Sometimes your app will cache your website in order to provide better performance. To reset just quit your app and then open it again - your app should now match your updated website.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-20" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-20" class="faq__accordeon-item-label">
                        How do Push Alerts work?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                    <p class="faq__accordeon-item-text">Push alerts are notifications sent to users of your app. You may send Push alerts directly through your Dashboard. There is no limit on the number of alerts you send. To receive an alert, you must give your app permission to send push alerts to you (you will be prompted when opening the app for the first time). Once inside, head to the notifications tab of your app and subscribe to whichever categories you would like to receive alerts from.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-21" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-21" class="faq__accordeon-item-label">
                          Why doesn’t my 3rd party software work? Eg. Whatsapp share
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                      <p class="faq__accordeon-item-text">Any 3rd party software used on your website should be working in the app. <br /> From time to time though security and permission issues cause some minor headaches, which are usually easily fixed.<br /> If this is the case, please notify us with the name of the third party software and our development team will do their best to get everything working as brilliantly as intended.</p>
                    </div>
                  </div>
                  <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-22" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-22" class="faq__accordeon-item-label">
                          Why can’t the app upload files?
                          <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                        </label>
                      <p class="faq__accordeon-item-text">Your app should be able to upload files. Just as your website would be able to do the same. <br /> If you are having any troubles, please contact us and our development team will look into the problem for you.</p>
                    </div>
                  </div>
            </div>
            <div class="faq__accordeon-list">
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-23" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-23" class="faq__accordeon-item-label">
                        Why isn't one of my menu items showing?
                      <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                    </label>
                    <p class="faq__accordeon-item-text">Often this is due to your menu settings not reflecting your app desires. You can choose to show or hide menu items from the menu section in your Dashboard. <br /> If the problem persists, please be in touch and we'll see what we can do.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-24" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-24" class="faq__accordeon-item-label">
                        How can I reset my password?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                    <p class="faq__accordeon-item-text">In case you have forgotten your password, or the signing up process has been interrupted. Please go to this link: <a class="faq__accordeon-link link" href="#">http://www.mymobileapp.online/forgotten</a></p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-25" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-25" class="faq__accordeon-item-label">
                          How can I transfer our apps to another app developer?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                      <p class="faq__accordeon-item-text">We are always happy to help transfer your app name. Unfortunately we are unable to transfer the app code.</p>
                    </div>
                  </div>
                  <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-26" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-26" class="faq__accordeon-item-label">
                          What if I want something more advanced?
                          <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                        </label>
                      <p class="faq__accordeon-item-text">We create custom app solutions, as well as custom advancements for your MMA app. Contact us to see what we can do for you.</p>
                    </div>
                  </div>
            </div>
         </div>
      </section>

      <section id="housekeeping" class="faq__section">
        <p class="faq__section-title">Housekeeping</p>
        <div class="faq__accordeon-list-wrapper">
            <div class="faq__accordeon-list">
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-27" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-27" class="faq__accordeon-item-label">
                        Which currency do you charge?
                      <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                    </label>
                    <p class="faq__accordeon-item-text">All prices are in USD.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-28" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-28" class="faq__accordeon-item-label">
                        How do I cancel/unsubscribe from My Mobile App?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                    <p class="faq__accordeon-item-text">My Mobile App is all about making life easy for you. This goes for unsubscribing too. <br /><br /> There are no lock in contracts. No minimum commitments of any sort.<br /><br /> To unsubscribe from My Mobile App all you have to do is remove the My Mobile App application from your platform provider, and we'll take care of the rest.<br /><br /> Your app will be removed from the app stores.<br /><br /> All apps that have previously been downloaded onto a mobile device will remain on that device; however, if accessed, the app will display an 'offline' message.<br /><br /> You may re-instate your My Mobile App subscription at any time.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-29" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-29" class="faq__accordeon-item-label">
                          What is your refund policy?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                      <p class="faq__accordeon-item-text">My Mobile App will only issue a refund if there is a significant fault with the product. If you are unsure whether you would like to select the Premium Plan, or whether your site will work well as an app, we encourage you to try the Free Plan first and then to upgrade once you’re loving your app. We do not charge administrative or set up fees, as we aim to keep our prices as low as possible; however, please be aware that when issues arise – particularly with the approval processes of the app stores – we undertake a lot more work on your behalf and do not charge extra for this. It is not grounds for a refund. Similarly, it is the responsibility of the app owner to comply with the approval processes of the app stores. Failure to do so is not grounds for refund. If you are unsure, please contact us first and/or select the Free Plan as a tester.</p>
                    </div>
                  </div>
            </div>
            <div class="faq__accordeon-list">
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-30" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-30" class="faq__accordeon-item-label">
                        How can I monetize my app?
                      <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                    </label>
                    <p class="faq__accordeon-item-text">We do not currently support apps with a price tag greater than zero.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                  <input type="radio" name="acc" id="acc-31" />
                  <div class="faq__accordeon-item-inner">
                    <label for="acc-31" class="faq__accordeon-item-label">
                        What does My Mobile App need from a client to get started? Is there anything a client can do to speed up the design and development process?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                    <p class="faq__accordeon-item-text">The best thing you can do to speed up your application process is to ensure you’re app is complete before continuing with publishing. For iOS customers please arrange an Apple Developer account prior to selecting Apple publishing. Lastly, make sure that your app complies with the <a class="faq__accordeon-link link" href="#">Google Play Store</a> and <a class="faq__accordeon-link link" href="#">Apple App Store</a> guidelines.</p>
                  </div>
                </div>
                <div class="faq__accordeon-item">
                    <input type="radio" name="acc" id="acc-32" />
                    <div class="faq__accordeon-item-inner">
                      <label for="acc-32" class="faq__accordeon-item-label">
                          Why I have paid the premium but the app is yet to be in the Apple app store?
                        <img src="images/acc-arrow-icon.svg" class="faq__accordeon-item-icon" alt="arrow">
                      </label>
                      <p class="faq__accordeon-item-text">We understand that you wish to have your own Apple App as soon as possible. However, due to the requirement of Apple, all customers are required to have their own Apple developer accounts which is mentioned in our My Mobile App website. This is why we have you confirm your Apple Developer account before progressing with publishing.</p>
                    </div>
                  </div>
            </div>
         </div>
      </section>

    </div>
  </div>
  <div class="faq__footer">
    <p class="faq__footer-title">Got a question not answered here?</p>
    <a class="faq__footer-link" href="#">
        Check out our Help Centre!
    </a>
    <a href="#header" id="arrowToTop" class="faq__footer-anchor-link"> <img src="images/anchor-arrow.svg" class="faq__footer-anchor-icon" alt="Up"></a>
  </div>
  </div>
</section>