<section class="features-steps__wrapper">
  <ul class="features-steps">
    <li class="features-steps__item" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">
        <img src="images/features-first-step-icon.svg" class="features-steps__item-img" alt="First Step">
        <div class="features-steps__item-inner">
          <p class="features-steps__item-number">01</p>
          <p class="features-steps__item-title">Use your website as <br />the base for your app</p>
          <p class="features-steps__item-desc">Your app is an extension of your digital presence. You've already put a lot of work in getting your website looking ace, so why reinvent the wheel? Your website is the base for your app building, then use our platform to expand it from there!</p>
        </div>
    </li>
    <li class="features-steps__item" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">
        <img src="images/features-second-step-icon.svg" class="features-steps__item-img" alt="Second Step">
        <div class="features-steps__item-inner">
          <p class="features-steps__item-number">02</p>
          <p class="features-steps__item-title">Select the features <br />you want included<br /> in your app</p>
          <p class="features-steps__item-desc">Your app is all about providing your customers with great functionality. Once you've set up your app with a name and icon, you will be able to select the functionality you need from our ever growing list of features.</p>
        </div>
    </li>
    <li class="features-steps__item" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">
        <img src="images/features-third-step-icon.svg" class="features-steps__item-img" alt="Third Step">
        <div class="features-steps__item-inner">
          <p class="features-steps__item-number">03</p>
          <p class="features-steps__item-title">Some features in your <br />app will utilise parts of <br />your website; others <br />will be app native!</p>
          <p class="features-steps__item-desc">Some features you add to your app will be native - this means they are built specifically for your app. Others will use different pages of your website within the app, to create consistency across your platforms.</p>
        </div>
    </li>


  </ul>
</section>