<section class="key-features__wrapper">
  <div class="key-features">
    <div class="key-features__title-wrapper" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">
      <p class="key-features__title">Key My Mobile App Features</p>
      <p class="key-features__title-desc">Uses your website as the base <br />for your mobile app. This allows<br /> you to maintain consistency<br /> across your digital platforms while providing a great user experience <br />for your customers.</p>
    </div>
    <ul class="key-features__list" data-aos="fade-up"  data-aos-delay="150"  data-aos-duration="1000">
      <li class="key-features__item">
        <div class="key-features__item-inner">
          <img src="images/key-features-directAccess-logo.svg" class="key-features__item-icon" alt="Direct Access">
          <h4 class="key-features__item-title">Direct Access</h4>
          <p class="key-features__item-desc">No more typing in URLs or being one of many pages in a web browser – allow users to reach you at the touch of a button, direct from their home screen.
            <br /><br />
              <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          </p>
        </div>
      </li>
      <li class="key-features__item">
        <div class="key-features__item-inner">
          <img src="images/key-features-nativePhone-logo.svg" class="key-features__item-icon" alt="Native Phone Capability">
          <h4 class="key-features__item-title">Native Phone Capability</h4>
          <p class="key-features__item-desc">Your app integrates with your phone to take advantage of if its native features, allowing for better call, email, and location capabilities for your app users.
            <br /><br /> <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          </p>
        </div>
      </li>
      <li class="key-features__item">
        <div class="key-features__item-inner">
          <img src="images/key-features-PushAlerts-logo.svg" class="key-features__item-icon" alt="Push Alerts">
          <h4 class="key-features__item-title">Push Alerts</h4>
          <p class="key-features__item-desc">SMS can be costly and newsletters don’t get read. Send push alerts notifications through your app and communicate with those that want to hear from you!
            <br /><br /> <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          </p>
        </div>
      </li>
      <li class="key-features__item">
        <div class="key-features__item-inner">
          <img src="images/key-features-analytics-logo.svg" class="key-features__item-icon" alt="Analytics">
          <h4 class="key-features__item-title">Analytics</h4>
          <p class="key-features__item-desc">See how your app is performing and monitor its usage from your own Dashboard. After all, the next best thing to having an app is watching it shine!
            <br /> <br /> <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          </p>
        </div>
      </li>
    </ul>
 </img>
</section>