<section class="main-screen__wrapper">
  <div class="main-screen">
      <div class="main-screen__info">
        <h1 class="main-screen__info-title" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">Turn your website into your mobile app</h1>
        <p class="main-screen__info-desc" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">Engage your customers. <br> No coding. Just 3 easy steps.</p>
        <form action="" class="main-screen__info-form" data-aos="fade-up"  data-aos-delay="200"  data-aos-duration="1000" data-aos-offset="0">
          <input type="text" value="" placeholder="Enter your website URL" class="main-screen__info-form-input">
          <input type="submit" value="Get Started" class="main-screen__info-form-btn">
        </form>
        <p class="main-screen__info-footer-desc" data-aos="fade-up"  data-aos-delay="200"  data-aos-duration="1000" data-aos-offset="0">Don't have a mobile friendly website? Get one with <a href="#" class="main-screen__info-footer-link link">Wix</a> today!</p>
      </div>
      <div class="main-screen__preview-wrapper">
          <div class="main-screen__preview-social-wrapper" data-aos="fade-up"  data-aos-delay="400"  data-aos-duration="1000" data-aos-offset="0">
            <div class="main-screen__preview-social">
                <a href="#" class="main-screen__preview-social-link"><img src="images/social-icon-appStore.svg" class="main-screen__preview-social-img" alt="App Store"></a>
                <a href="#" class="main-screen__preview-social-link"><img src="images/social-icon-googlePlay.svg" class="main-screen__preview-social-img" alt="Google Play"></a>
            </div>
            <p class="main-screen__preview-social-desc">Your own branded app <br /> published Google Play <br />& the App Store</p>
          </div>
          <div class="main-screen__preview">
            <div class="main-screen__images">
                <div class="main-screen__images-img main-screen__images-img--instals" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000"></div>
                <div class="main-screen__images-img main-screen__images-img--gallery" data-aos="fade-up"  data-aos-delay="200"  data-aos-duration="1000"></div>
                <div class="main-screen__images-img main-screen__images-img--features" data-aos="fade-up"  data-aos-delay="400"  data-aos-duration="1000"></div>
                <div class="main-screen__images-img main-screen__images-img--phone" data-aos="fade-up"  data-aos-delay="300"  data-aos-duration="1000"></div>
            </div>
          </div>
      </div>
      <a href="#" class="main-screen__arrowDown-link" data-aos="fade-up"  data-aos-delay="400"  data-aos-duration="1000" data-aos-offset="0" ><img src="images/arrow-white-down.svg" class="main-screen__arrowDown-icon" alt="Down"></a>
  </div>
</section>