<section class="showcase__wrapper" data-aos="fade-up"  data-aos-delay="100"  data-aos-duration="1000">
  <div class="showcase">
    <h1 class="showcase__title">Showcase</h1>
    <p class="showcase__desc">We are proud to have helped these amazing ideas come <br /> to life with our custom app development service</p>
    <div class="showcase__swiper swiper-container">
        <div class="swiper-wrapper showcase__swiper-wrapper">
          <div class="swiper-slide showcase__swiper-item"><img src="images/swiper-icon3.svg" class="showcase__swiper-item-img" alt="Image"></div>
          <div class="swiper-slide showcase__swiper-item"><img src="images/swiper-icon1.svg" class="showcase__swiper-item-img" alt="Image"></div>
          <div class="swiper-slide showcase__swiper-item"><img src="images/swiper-icon3.svg" class="showcase__swiper-item-img" alt="Image"></div>
          <div class="swiper-slide showcase__swiper-item"><img src="images/swiper-icon1.svg" class="showcase__swiper-item-img" alt="Image"></div>
          <div class="swiper-slide showcase__swiper-item"><img src="images/swiper-icon2.svg" class="showcase__swiper-item-img" alt="Image"></div>
        </div>
      </div>
      </div>
 </div>
</section>