<section class="who-we-are__wrapper">
  <div class="who-we-are">
      <p class="who-we-are__title">Who we are</p>
      <p class="who-we-are__subTitle">My Mobile App is a product of Appswiz, a company based out of <br /> Melbourne, Australia. Our values revolve around empowerment, <br /> teamwork, enjoyment and quality. We are a close knit team <br /> striving to create a great experience for both our customers <br /> and our customers' customers.</p>
      <ul class="who-we-are__list">
        <li class="who-we-are__item">
          <img class="who-we-are__item-img" src="images/user-image.png" srcset="images/user-image@2x.png 2x, images/user-image@3x.png 3x" alt="User">
          <p class="who-we-are__item-name">Morris Richards</p>
          <p class="who-we-are__item-position">Co-Founder</p>
        </li>
        <li class="who-we-are__item">
            <img class="who-we-are__item-img" src="images/user-image.png" srcset="images/user-image@2x.png 2x, images/user-image@3x.png 3x" alt="User">
            <p class="who-we-are__item-name">Morris Richards</p>
            <p class="who-we-are__item-position">Co-Founder</p>
        </li>
        <li class="who-we-are__item">
            <img class="who-we-are__item-img" src="images/user-image.png" srcset="images/user-image@2x.png 2x, images/user-image@3x.png 3x" alt="User">
            <p class="who-we-are__item-name">Morris Richards</p>
            <p class="who-we-are__item-position">Co-Founder</p>
        </li>
        <li class="who-we-are__item">
            <img class="who-we-are__item-img" src="images/user-image.png" srcset="images/user-image@2x.png 2x, images/user-image@3x.png 3x" alt="User">
            <p class="who-we-are__item-name">Morris Richards</p>
            <p class="who-we-are__item-position">Co-Founder</p>
        </li>
        <li class="who-we-are__item">
            <img class="who-we-are__item-img" src="images/user-image.png" srcset="images/user-image@2x.png 2x, images/user-image@3x.png 3x" alt="User">
            <p class="who-we-are__item-name">Morris Richards</p>
            <p class="who-we-are__item-position">Co-Founder</p>
        </li>
        <li class="who-we-are__item">
            <img class="who-we-are__item-img" src="images/user-image.png" srcset="images/user-image@2x.png 2x, images/user-image@3x.png 3x" alt="User">
            <p class="who-we-are__item-name">Morris Richards</p>
            <p class="who-we-are__item-position">Co-Founder</p>
        </li>
        <li class="who-we-are__item">
            <img class="who-we-are__item-img" src="images/user-image.png" srcset="images/user-image@2x.png 2x, images/user-image@3x.png 3x" alt="User">
            <p class="who-we-are__item-name">Morris Richards</p>
            <p class="who-we-are__item-position">Co-Founder</p>
        </li>
        <li class="who-we-are__item">
            <img class="who-we-are__item-img" src="images/user-image.png" srcset="images/user-image@2x.png 2x, images/user-image@3x.png 3x" alt="User">
            <p class="who-we-are__item-name">Morris Richards</p>
            <p class="who-we-are__item-position">Co-Founder</p>
        </li>
      </ul>
  </div>
</section>